
body{
    margin: 0px;
}

.nav-bar{
    background-color: whitesmoke;
    display: flex;
}

.logo{
    height: 3rem;
    padding-top: 10px;

}

.logo-name{
    padding-left: 3px;
    font-family: 'Poppins', sans-serif;
    color: rgb(222, 65, 91);
}

.hero-img{
    float:left;
    padding: 25px 50px;
    border-radius: 10%;
}

.hero-content{
    padding-top: 100px;
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: rgb(222, 65, 91);;
}
 
.para{
    padding-top: 30px;
    color: rgb(26, 23, 23);
    font-family: 'Signika Negative', sans-serif;;
    font-weight: 700;

}



  